<div class='row'>
  <% @comics.each do |comic| %>
    <div class='col-md-4' >
      <section id=comics>
        <div class='col-md-8' >
          <p><%= image_tag comic.image.url(:medium), {class: "img-thumbnail"} %></p>
        </div>
        <div class='col-sm-4'>
          <h3><%= comic.title %></h3>
          <%= link_to 'Ver mais', comic %>
        </div>
      </section>
    </div>
  <% end %>
</div>
