<div class='row'>
  <% @series_books.each do |series_book| %>
    <div class='col-md-4'>
      <section id="series-<%= series_book.id %>">
        <div class='col-md-8'>
          <p><%= image_tag series_book.image.url(:medium), {class: "img-thumbnail"} %></p>
        </div>
        <div class='col-sm-4'>
          <h3><%= series_book.title %></h3>
          <%= link_to 'Ver mais', series_book %>
        </div>
      </section>
    </div>
  <% end %>
</div>
